/* Global Styles */
body {
    margin: 0 !important;
    padding: 0 !important;
    background: #282a36 !important; /* Light blue background */
}
/* Main Container Styles */
#hnmain {
    background: #44475a !important; /* White background */
    max-width: 95% !important; /* Use max-width for scalability */
    box-shadow: 0px 0px 30px 3px rgba(7, 43, 132, .2) !important; /* Box shadow for depth */
    border-left: 1px solid #fff !important;
    border-right: 1px solid #fff !important;
    margin: 0 auto; /* Center the container */
}

/* Responsive design for smaller screens */
@media screen and (max-width: 600px) {
    #hnmain {
        width: 100% !important; /* Full width on small screens */
        box-shadow: none !important; /* Optional: remove shadow on small screens */
}

#hnmain > tbody > tr:nth-child(4) > td > table > tbody > tr > td {
    background-color: #6272a4;
}

}
/* Text and Link Styles */
#hnmain td[bgcolor="#ff6600"] a {
    color: #000000 !important; /* Black color for header links */
}
td {
    color: #bd93f9 !important; /* Red text color for table data */
}
a:link{
    color: #bd93f9;
}
/* Dead Links Styling */
.dead a:link:hover, .dead a:visited {
    background: #0d0d0d !important; /* Dark background for dead links */
    color: #fff !important; /* White text color for contrast */
}
.dead a:link:hover::before {
    content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAOCAMAAAAR8Wy4AAAATlBMVEX///9NTU38/PxjY2OVlZX5+fny8vLDw8Nzc3P29vbh4eHLy8uysrKmpqaKioqDg4Pm5uZVVVXV1dW8vLyPj495eXlra2ve3t7b29taWlqwMuwSAAAAk0lEQVQI1z2OVw7EMAhEsXHBvcROuf9FlzjZzAcSTwN6cEenXYg9Sngjp1jJfxDEmxNgtSI+O24g3Q0sPYCsNAxUrRkzUcbh+tDQGx3KyKKgJr+3E7oqNEtBHDNjUR3AGbM1EaO4tlMuK57cbSOYz8zbampIx6MdbEFrvVcBsw0ajktEqRNNtuI/nj0S+xm37pPSP4ZHBjEu/RG/AAAAAElFTkSuQmCC) !important;
    background: #fff !important;
    color: #fff !important;
    padding: 3px 3px 2px 3px !important;
    margin-right: 3px !important;
    border: 1px solid #000 !important;
}
.dead a:link:hover::after {
    content: "[DEAD LINK]";
    background: #939090 !important;
    color: #fff !important;
    padding: 0 4px !important;
}
/* Header Styling */
#hnmain td[bgcolor="#ff6600"], .pagetop {
    background: #44475a !important; /* Dracula's "current line" color for the header background */
    color: #f8f8f2 !important; /* Dracula's foreground color for text */
}

.pagetop a[href="news"], .pagetop a:link, .pagetop a:visited {
    color: #f8f8f2 !important; /* Ensuring header links are also in the Dracula foreground color */
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.2); /* Optional: Adding a subtle glow to make it stand out */
}

/* Adjusting the header link colors */
#hnmain td[bgcolor="#ff6600"] a {
    color: #50fa7b !important; /* Dracula green for a vibrant look */
    font-size: 14px !important
}

/* Correcting the linear gradient in the header which does not fit the Dracula theme */
#hnmain td[bgcolor="#ff6600"] {
}

/* Enhancing text contrast and visibility */
.pagetop a:not(:first-child):hover {
    text-decoration: underline !important;
    color: #ff79c6 !important; /* Dracula pink for hover states to add visual interest */
}
/* Front Page News Listing Styles */
.title:first-child {
    padding-right: 8px !important;
    padding-left: 8px !important;
    color: #6272a4 !important;
    font-size: 11px !important;
}
.title:not(:first-child) {
    font-size: 16px !important;
    font-family: "Verdana", "Lucida Grande", "Open Sans", "Bitstream Vera Sans", sans-serif !important;
    padding-left: 8px !important;
}
.title:not(:first-child) > a {
    border-bottom: 1px solid #620303 !important;
}
.title:not(:first-child) > a:hover {
    text-decoration: underline !important;
    border: none !important;
}
.title > a:visited {
    color: #6272a4 !important;
}
.comhead a:link, .subtext a:visited {
    color: #8be9fd;
}
.title .sitebit {
    color: #f8f8f2 !important;
}
.subtext {
    font-size: 12px !important;
    color: #ff5555 !important;
    padding-left: 8px !important;
}
tr[style="height:5px"] {
    height: 16px !important;
}
.title > a[href^="news?p="] {
    color: #ff79c6 !important;
}
/* Comment Section Styles */
#hnmain > tbody > tr:first-child + tr + tr > td > table + br + br + table {
    padding-right: 10px !important;
}
#hnmain > tbody > tr:first-child + tr + tr > td > table > tbody > tr:first-child > .title > a {
    color: #ffb86c !important;
}
#hnmain > tbody > tr:nth-child(1) > td > table > tbody > tr > td:nth-child(3) > span {
    color: #ffb86c;
}
.commtext {
    color: #f8f8f2
}
textarea, input {
    background-color: #282a36;
    color: #f8f8f2;
    border-color: #8be9fd
}

.score {
    color: #ffb86c;
}
#karma {
    color: #ff5555;
}

.comment {
    font-family: "Lucida Grande", "Open Sans", "Bitstream Vera Sans", "Verdana", sans-serif !important;
    font-size: 110% !important;
    line-height: 1.5 !important;
}
.default {
    padding: 10px 0 !important;
}
.default p {
    margin-bottom: 6px !important;
}
.comment a {
    text-decoration: none !important;
    border-bottom: 1px solid #6272a4 !important;
}

/* Comment Link Styles */
.commtext a:link, .commtext a:visited {
    color: #ff79c6 !important; /* Dracula pink color for comment links */
}
a[href^="reply"] {
    background: linear-gradient(to top, rgba(232,228,221,1) 0%, rgba(243,239,237,1) 100%) !important;
    padding: 2px 6px 3px 6px !important;
    border-radius: 5px !important;
    border: 2px solid #a07a42 !important;
    text-shadow: 0px 1px 0px #ffffff;
}
a[href^="reply"]:hover {
    background: linear-gradient(to bottom, rgba(232,228,221,1) 0%, rgba(243,239,237,1) 100%) !important;
    padding: 2px 6px 3px 6px !important;
    border-radius: 5px !important;
    border: 2px solid #c67d0f !important;
    text-shadow: 0px -1px 0px #ffffff;
}
.default .comhead {
    opacity: 1 !important;
    color: #f60 !important;
}
.default .comhead:hover {
    opacity: 1 !important;
}
.comhead a[href^="user?"] {
    font-weight: bold !important;
    color: #f90 !important;
}
.comment pre {
    max-width: 750px !important;
    font-size: 12px !important;
}
#hnmain > tbody > tr:first-child + tr + tr > td > table + br + br + table .votearrow {
    margin-top: 11px !important;
}
/* Dimmed Comment Styling */
.c5a, .c73, .c82, .c88, .c9c,
.cae, .cbe, .cce, .cdd {
    transition: color 0.5s !important;
}
.c5a:hover, .c73:hover, .c82:hover, .c88:hover, .c9c:hover,
.cae:hover, .cbe:hover, .cce:hover, .cdd:hover {
    color: #6272a4 !important;
}
/* Footer Styles */
#hnmain > tbody > tr:last-child {
    background: #44475a !important; /* Dracula secondary background */
}

/* Custom CSS for quotes */
.quote {
    border-left: 3px solid #ff79c6; /* Vibrant pink for contrast */
    padding: 6px 6px 6px 9px;
    font-style: italic;
    background-color: #282a36; /* Dark gray background typical of Dracula */
    color: #f8f8f2; /* Light gray text for readability */
    border-radius: 5px; /* Retaining the original border radius */
}

/* Custom CSS for vote arrows */
:root {
    --colour-hn-orange: #ffb86c;
    --colour-hn-orange-pale: rgba(255, 102, 0, 0.05);
    --colour-voted: #cccccc; /* Colour for voted arrows */
    --border-radius: 8px;
}
.votelinks {
    min-width: 32px;
}
.votearrow {
    background: var(--colour-hn-orange-pale);
    border-radius: var(--border-radius);
    color: var(--colour-hn-orange);
    display: block;
    width: 24px;
    height: 24px;
    font-size: 16px;
    position: relative;
    top: 2px;
    cursor: pointer; /* Makes it clear that it's clickable */
}
.votearrow:hover, .votearrow.voted {
    background: var(--colour-hn-orange);
    color: white;
}
.votearrow.voted {
    background: var(--colour-voted);
    color: var(--colour-hn-orange);
}
.votearrow:after {
    content: "⇧";
}
/* Change submission text color to Dracula pink */
.title > a {
    color: #ff79c6 !important; /* Dracula pink color */
}

/* Optional: Make the text darker for better readability */
/* If the current text color is not black, you can set it to pure black */
.title > a {
    color: #000000 !important; /* Black color for better readability */
}

/* Additional CSS for hover effects */
.verticalBar:hover {
    background-color: #282a36 !important;
}